<ad-button class="ad-btn btn-primary btn-sm">Primary</ad-button>
<ad-button class="ad-btn btn-success btn-lg">Success</ad-button>

<ad-button class="ad-btn btn-secondary btn-sm ">Secondary</ad-button>
<ad-button class="ad-btn btn-warning btn-lg">Warning</ad-button>
<ad-button class="ad-btn btn-danger btn-md btn-disabled">Danger</ad-button>


<ad-button class="btn-question"></ad-button>
<ad-button class="btn-question-lg"></ad-button>

<ad-button class="btn-exclamation"></ad-button>
<ad-button class="btn-exclamation-sm"></ad-button>

<ad-button class="btn-outline btn-lg btn-disabled">Outline</ad-button>
<ad-button class="btn-outline btn-md">Outline</ad-button>


